#atm program
#2750

def givecash(amt):
    Fvhundreds=0
    Hundreds=0
    Fiftys=0
    while amt>0:
        Fvhundreds=amt//500
        amt= amt-(Fvhundreds*500)

        Hundreds= amt//100
        amt=amt-(Hundreds*100)

        Fiftys = amt//50
        amt=amt-(Fiftys*50)

        print("number of Fvhundreds notes : ",Fvhundreds)
        print("number of Hundreds notes : ",Hundreds)
        print("number of Fiftys notes : ",Fiftys)


def passmatch(pswd):
    if (pswd==9876):
        amount= int(input("enter your amount : "))
        givecash(amount)
    else:
        print("oops incorrect password")
        print("cannot dispense cash")

pswd=int(input("enter atm pin : "))
passmatch(pswd)


    
